.icon.dragging {
  opacity: 0.7;
  cursor: grabbing !important;
  z-index: 999;
  transition: opacity 0.2s;
}

.desktop__icons .icon {
  position: absolute;
}

.desktop__icons {
  position: relative;
  display: block;
  height: calc(100vh - 36px);
}

.desktop__icons .icon:nth-child(1) {
  left: 20px;
  top: 20px;
}

.desktop__icons .icon:nth-child(2) {
  left: 20px;
  top: 120px;
}

.desktop__icons .icon:nth-child(3) {
  left: 20px;
  top: 220px;
}

.desktop__icons .icon:nth-child(4) {
  left: 20px;
  top: 320px;
}

.desktop__icons .icon:nth-child(5) {
  left: 20px;
  top: 420px;
}

.desktop__icons .icon:nth-child(6) {
  left: 20px;
  top: 520px;
}

.desktop__icons .icon:nth-child(7) {
  left: 140px;
  top: 20px;
}

.desktop__icons .icon:nth-child(8) {
  left: 140px;
  top: 120px;
}

.icon {
  cursor: grab;
}

.icon:active {
  cursor: grabbing;
}

.icon.selected {
  background: rgba(0, 0, 255, 0.3);
  border: 1px dotted #fff;
  border-radius: 1px;
}

.icon,
.window__titlebar {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}