.desktop__icons {
  display: grid;
  grid-template-rows: repeat(auto-fit, 90px);
  grid-auto-flow: column;
  grid-auto-columns: 110px;

  gap: 10px;
  padding: 20px;
  padding-top: 50px; /* Espacio superior para que la taskbar no tape los iconos */

  max-height: calc(100vh - 32px);
  overflow: hidden;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  color: var(--color-text-icon);
  font-size: var(--font-size-icon);
  text-shadow: var(--shadow-text);

  cursor: pointer;
  text-align: center;

  width: 110px;
  height: 80px;
}

.icon img {
  width: 52px;
  height: 52px;
  object-fit: contain;
  image-rendering: pixelated;
}

.icon:hover {
  background: rgba(0, 0, 255, 0.2);
  border: 1px dotted #fff;
  border-radius: 1px;
}